.card{
    color: black;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;

    transition: all 0.25s;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 20%);
    background-color: white;
    display: flex;
}



.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}



.imagen{
    width: 50%;
}

.info{
    background-color: rgb(255, 252, 248);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-around;
    font-size: 1px;
}

.titulo{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.texto{
    text-align: left;
    font-size: 10px;
    overflow: hidden;
}

.comprar{
    color: #000;
    margin: 0;
}