.contenedorCuadro{
    width: 100%;    
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.containerLetter{
    margin: auto auto;
    display: flex;
    justify-content: center;
    border-bottom: rgb(237, 237, 237) 2px solid;
    width: 300px;
}

.cuadro{
    width: 60%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 20%);

    padding: 10px;
    margin: 20px auto;
}

.imagen{
    width: auto;
    height: 250px;
    align-items:center;
}

.imagen:hover{
    transition: 300ms;
    box-shadow: 0 3px 13px 1px darkorchid;
}

.title{
    padding: 10px;
    font-size: 40px;
    font: bold sans-serif;
}

.upPart{
    display: flex;
    border-bottom: 1px solid grey;
    background-color: rgb(237, 237, 237);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.letter{
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.letterTop{
    font-size: 15px;
    padding: 10px;
    margin: 10px 10px;
}

.container{
    width: 100%;
    padding: 15px;
    justify-content: center;
    min-height: 80vh;
    align-items: flex-start;
    display: flex;
}

.notOrders{
    margin: 40px 0;
    font-size: 32px;
}

.description{
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
}

.downPart{
    padding: 20px;
    display: flex;
}