.logo{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-left: 50px;
    border-right: 2px solid black
}

.titulo{
    width: 300px;
    height: 100px;
}


.logoimg{
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
}

img{
    height: 100px;   
}